@model List<CartIndex>
@{

    ViewBag.Title = "Checkout";
}

<div class="container-xl">
    <div class="order-nav">
        <div class="title">
            <h2>
                購物步驟
            </h2>
        </div>
        <div class="step row">
            <li class="col-6 col-sm-2"><a href="#">1.確認購物明細</a></li>
            <li class="col-6 col-sm-2 active"><a href="#">2.確認訂單明細</a></li>
            <li class="col-6 col-sm-2"><a href="#">3.進行付款</a></li>
            <li class="col-6 col-sm-2"><a href="#">4.完成訂購</a></li>
        </div>
    </div>

    @{
        var total = @Math.Ceiling(Model.Sum(x => x.DailyRate * x.DateDiff));
        var discount = 0;
    }
    @using (Html.BeginForm("Checkout", "Carts", FormMethod.Post))
    {


        <div class="order-content">
            <div class="content-nav">
                <li class="active"><a href="#">購物明細(@Model.Count())</a></li>
            </div>
            <div class="content">
                <table class="table">
                    <tr>
                        <th>
                            <span>商品名稱</span>
                        </th>
                    </tr>

                    @{
                        int i = 0;
                    }

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <div class="product">
                                    <div class="product-img">
                                        <a href="#">
                                            @*<img src="~/Assets/images/cart/A451.jpg" />*@
                                            <img src="@Html.DisplayFor(M => item.ImgSources)" />
                                        </a>
                                    </div>
                                    <div class="product-name">
                                        <a href="#" style="text-decoration:none;">
                                            @Html.DisplayFor(M => item.ProductName)
                                        </a>
                                    </div>
                                </div>
                                <div class="product-stock">
                                    <p></p>
                                </div>
                                @{
                                    var DailyRate = item.DailyRate.ToString("#,###.###");
                                }
                                <div class="product-price-qty">
                                    <div class="unitprice">
                                        <span class="title">單日租價 :</span>
                                        <span class="price">@DailyRate</span>

                                    </div>
                                    @*顯示起訖日*@
                                    <div class="alldate">
                                        <span class="title">起日 :</span>
                                        <span class="">@Html.DisplayFor(M => item.StartDate)</span>
                                        <span class="title">迄日 :</span>
                                        <span class="">@Html.DisplayFor(M => item.ExpirationDate)</span>
                                    </div>
                                    <div class="buyqty">
                                        <span class="title">天數 : @Html.DisplayFor(M => item.DateDiff)</span>

                                        @*<input type="number" value="1" class="qty">*@
                                    </div>
                                </div>
                                @{
                                    string dateTimeFormat = new ProductDetailToCart().DateTimeFormat;
                                    var subTotal = Math.Ceiling(item.DateDiff * item.DailyRate);
                                }
                                <div class="product-sub">
                                    <span class="title">小計 : </span>&emsp;
                                    <span class="subTotal"> @subTotal.ToString("#,###.###")</span>
                                </div>

                                @*Post需用欄位*@
                                @{
                                    <input type="hidden" name="ListProductID[@i]" value="@item.ProductID" />
                                    <input type="hidden" name="ListDailyRate[@i]" value="@item.DailyRate" />
                                    <input type="hidden" name="ListTotalAmount[@i]" value="@subTotal" />
                                    <input type="hidden" name="ListStartDate[@i]" value="@item.StartDate.Value.ToString(dateTimeFormat)" />
                                    <input type="hidden" name="ListExpirationDate[@i]" value="@item.ExpirationDate.Value.ToString(dateTimeFormat)" />
                                    i++;
                                }

                            </td>
                            @*
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                                </td>
                            *@
                        </tr>
                    }


                    <tr>
                        <td>
                            <div class="order-total">
                                <span>總計：</span>
                                <span class="currency">TWD$</span> &emsp;
                                <span class="total">
                                    @total.ToString("#,###.###")
                                </span>
                            </div>
                        </td>
                    </tr>


                </table>
                <div class="content-footer">
                    <div>
                        <p>超商取貨滿350元免運費，未滿350元酌收處理費40元，宅配郵寄未滿1000元需加收50元運費</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="order-footer">
            <div class="left-info">
                <div class="info-head">
                    收件人資訊
                </div>
                <div class="info-body">
                    <div class="member-info">
                        <div>
                            <label for="member-name">收件人</label>
                        </div>
                        <div>
                            <input type="text" id="member-name" class="form-control"  aria-label="Username"/>
                        </div>

                        <div>
                            <label for="member-address">地址</label>
                        </div>

                        <div>
                            <select name="StoreID" class="form-select" aria-label="address select" id="number">
                                <option value="0">請選擇分店地址</option>
                                @{
                                    var StoreList = new OrderService().GetAllStore();
                                    foreach (var item in StoreList)
                                    {
                                        <option value="@(item.StoreID) ">@item.StoreName</option>
                                    }
                                }

                            </select>

                        </div>

                    </div>
                </div>
            </div>
            <div class="right-info">
                <div class="info-head">訂單詳情</div>
                <div class="info-body">
                    <div class="sub">
                        <span>小計 :</span>
                        <span class="subtotal">NT$@total.ToString("#,###.###")</span>
                    </div>
                    <div class="dis">
                        <span>折扣 :</span>
                        <span class="discount">- NT$@discount.ToString("0.###")</span>
                    </div>
                    <hr>
                    <div class="tol">
                        <span>合計 :</span>
                        <span class="total">NT$@((total - discount).ToString("#,###.###")) </span>
                    </div>
                    <div class="checkout">
                        <div class="text-danger small mt-1">
                        </div>
                        <button type="submit" class="btn btn_sub"disabled="disabled">進行結帳</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section topCSS{
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <link href="~/Assets/css/Cart/navbar.css" rel="stylesheet" />
    <link href="~/Assets/css/Cart/ordercontent.css" rel="stylesheet" />
    <link href="~/Assets/css/Cart/orderinfo.css" rel="stylesheet" />
}
@section endJS{
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>

    <script>
        //checkout返回index重整頁面
        sessionStorage.setItem("need-refresh", true);

        let btn = document.querySelector('.btn_sub');
        let sel = document.getElementById("number");
        let user = document.getElementById('member-name');
        let small = document.querySelector('.small');

        function selectCheck() {
            if (user.value == "" || sel.value == 0) {
                btn.disabled = true;
                //small.innerHTML = "填寫資訊即可解鎖按鈕喔!";
            }
            else if (user.value != "" && sel.value != 0) {
                //small.innerHTML = "";
                btn.disabled = false;
            }
        }
        sel.addEventListener('change', selectCheck);
        user.addEventListener('change', selectCheck);

        window.onload = function () {
            btn.disabled = true;
            //small.innerHTML = "填寫資訊即可解鎖按鈕喔!";
            //selectCheck();
        }
    </script>
}