@model ProductDetailToCart
@{
    ViewBag.Title = "ProductDetail";
}

<div class="container-xl main">
    <h2 class="mt-4">商品名稱: @Model.ProductName</h2>
    <div class="Top_Title mb-3">
        <div class="Zip">
            <div class="ZipContent">
                <h5>CHU</h5>
                <span class="d-block">,</span>
                <h5 class="ms-1">Hsinchu</h5>
                <span class="d-block">,</span>
                <h5 class="ms-1 me-3">Taiwan</h5>

            </div>
            <div class="ZipSocial d-flex">
                <i class="fab fa-facebook-f mx-1"></i>
                <i class="fab fa-twitter mx-1"></i>
                <i class="fas fa-envelope mx-1"></i>
                <i class="far fa-copy mx-1"></i>
                <span>Copy link</span>
            </div>
        </div>
    </div>

    <div class="row d-flex justify-content-between">

        <div class="col-sm-7 col-12 Product">
            <img src="@Model.ImgSources[0]"
                 data-fancybox="gallery"
                 >
        </div>

        @for (int i = 1; i < Model.ImgSources.Count; i++)
        {
            <div class="col-sm-5 col-12 Product">
                <img src="@Model.ImgSources[i]"
                     data-fancybox="gallery"
                     >
                <span class="SeeMore">See ALL 2</span>
            </div>
        }

    </div>

    <br>

    <div class="d-flex">

        <div class="left">
            <Section class="col-12">

                <hr>

                <div class="">
                    <div class="">
                        <h2 class="heading_size">
                            商品名稱: @Model.ProductName
                        </h2>
                    </div>
                </div>

                <div class="">
                    <div class="description_text">
                        <div id="">
                            <p id="p1">
                                @Model.Description
                                <span id="span1">
                                    @*...*@
                                    <span class="link1" id="link1">
                                        <a data-bs-toggle="collapse" href="#collapse_text1"
                                           aria-controls="collapse_text1">
                                            @*Read more*@
                                        </a>
                                    </span>
                                </span>

                                <span class="collapse" id="collapse_text1" aria-expanded="false">
                                    @*your rental request. Submit a request and a member from our Customer Success Team
                                        will be in
                                        touch with you.*@
                                </span>

                            </p>
                        </div>

                    </div>
                </div>
            </Section>

            <hr>

            <!--------以下 地圖區塊--------------------------------------------------------------------------->

            <div class="left-sidebar-container">
                @*<div class="map-block">*@
                <h2 class="map-block-title">取件和退貨選項</h2>
                <span class="map-block-depiction">提供送貨選項。提供您的位置以查看估計的送貨成本。</span>
                <div class="map-block-distance">
                    <p class="map-block-distance-text">這距離您所在的位置大約 (動態) 公里</p>
                    <div class="map-block-input-outside">
                        <i class="fas fa-map-marker-alt"></i>
                        <input class="map-block-distance-input" type="text" placeholder="總部">
                    </div>
                </div>

                <div class="map-block-price">
                    <div class="map-block-price-col"></div>
                    <div class="map-block-price-col ">
                        <div class="map-block-total-price">預計送貨費用（單程）： (動態)新台幣</div>
                    </div>
                </div>
                <div class="map-countainer">
                    <div id="mapId"></div>
                    <!-- <div id="map"></div>  google map-->

                </div>
                <p class="map-block-notice">預訂後提供確切位置</p>

                @*</div>*@
            </div>


            <!--------以上 地圖區塊--------------------------------------------------------------------------->

            <hr>
            <Section class="col-12">

                <div class="title">
                    <div class="title-left">
                        <h2 class="heading_size">
                            物流中心營業時段:
                        </h2>
                    </div>

                    <div class="title-right">
                        <a data-bs-toggle="collapse" href="#collapse_textTwo" aria-expanded="false"
                           aria-controls="collapse_textTwo">
                            <i class="fas fa-caret-down rotate" id="arrow1"></i>
                        </a>
                    </div>
                </div>


                <div class="description_text">
                    <div id="">
                        <p class="p2">

                            <span id="text2">

                                <span class="link2" id="link2">
                                    <a data-bs-toggle="collapse" href="#collapse_textTwo" aria-expanded="false"
                                       aria-controls="collapse_textTwo">
                                        @*Read more...*@
                                        查看更多...
                                    </a>
                                </span>

                            </span>

                            <div class="collapse" id="collapse_textTwo" aria-expanded="false">
                                運送產品服務 以及 退回產品服務 時段: <br>
                                每天 早上 8:00 至 晚上 10:30 <br>
                            </div>
                        </p>
                    </div>

                </div>

            </Section>
            <hr>

            <Section class="col-12">

                <div class="">
                    <div class="">
                        <h2 class="heading_size">
                            租借注意事項:
                        </h2>
                    </div>
                </div>

                <div class="">
                    <div class="description_text">

                        <div id="">
                            <p>
                                對於租賃期間物品的任何損壞、丟失或被盜，您仍需對本公司承擔全部責任。
                            </p>
                        </div>

                    </div>
                </div>
            </Section>

            <hr>

            <Section class="col-12">

                <div class="title">
                    <div class="title-left">
                        <h2 class="heading_size">
                            取消訂單說明:
                        </h2>
                    </div>

                    <div class="title-right">
                        <a data-bs-toggle="collapse" href="#collapse_text4" aria-expanded="false"
                           aria-controls="collapse_text4">
                            <i class="fas fa-caret-down rotate" id="arrow2"></i>
                        </a>
                    </div>
                </div>


                <div class="description_text">
                    <div id="">
                        <p class="p4">
                            取消訂單之前 <strong> 需要注意的事項</strong> <br>

                            如果在 2 天前取消，將全額退款 <br>
                            <span id="text4">

                                <span class="link4" id="link4">
                                    <a data-bs-toggle="collapse" href="#collapse_text4" aria-expanded="false"
                                       aria-controls="collapse_text4">
                                        @*Read more...*@
                                        查看更多...
                                    </a>
                                </span>

                            </span>

                            <span class="collapse" id="collapse_text4" aria-expanded="false">
                                <br>
                                如果預訂項目的會員在預訂開始日期和時間前至少 48 小時發送取消通知，
                                他們有權獲得全額退款，減去預訂費和付款處理費。
                                商品價格和任何附加價格（包括送貨）將被退還。
                            </span>
                        </p>
                    </div>

                </div>

            </Section>
        </div>
        <div class="right">
            <div class="RentInfo">
                <div class="RentSetting">
                    <div class="price"><span>@Decimal.ToInt32(Model.DailyRate) </span>元/日</div>
                    <!-- Button trigger modal -->
                    <button id="setDate" class="orange d-flex justify-content-evenly align-items-center" data-bs-toggle="modal" data-bs-target="#DateModal">
                        設定租借期間
                    </button>

                    <div class="decision-group">
                        @using (Html.BeginForm("ProductDetail", "Product"))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(M => M.IsExisted)
                            @Html.HiddenFor(M => M.StartDate)
                            @Html.HiddenFor(M => M.ExpirationDate)
                            <input type="hidden" name="isCheckout" value="false">
                            <button id="ToCart" class="orange" type="submit">
                                @(Model.IsExisted?"更新":"放入")購物車
                            </button>
                            <button id="ToCheck" class="orange" type="submit">直接結帳</button>
                        }
                    </div>
                </div>
                <div class="hint">您還不會被收費</div>
            </div>
            @Html.Partial("../Shared/Partial_DateTimeModal")

            <div class="modal " id="OperationHintModal" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title w-100"></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>





@section endJS{
    <!-- leaf js -->
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCem632bQH4n1otBAe6oCI64ww7j5yn27c&callback=initMap&libraries=&v=weekly" async></script>
    <!-- 第三方套件 -->
    <script src="~/Assets/js/Shared/flatpickr.js"></script>

    <script src="~/Assets/js/ProductDetail/ProductCarousel.js"></script>
    <script src="~/Assets/js/ProductDetail/leaf.js"></script>
    <script src="~/Assets/js/ProductDetail/Product_Detail.js"></script>
    <script src="~/Assets/js/ProductDetail/ProductDisplay.js"></script>
    <script>
                //未登入的禁用
        if (@Json.Encode( !User.Identity.IsAuthenticated) ) {
            let DateModalLauncher = document.querySelector('button[data-bs-target="#DateModal"]');
            DateModalLauncher.disabled = true;
            DateModalLauncher.innerText = '= 登入後才可租賃商品 =';
        }else{}

        //入車提示訊息
            @if (!String.IsNullOrEmpty(Model.OperationType))
            {
                string OpText = "";
                if ( Model.OperationType == "Create") { OpText = "加入"; }
                else if (Model.OperationType == "Update") { OpText = "更新"; }

                OpText += "購物車";
                if ( Model.OperationSuccessful ){ OpText += "成功"; }
                else  { OpText += "失敗"; }
                <text>
                let OpModal = new bootstrap.Modal(document.querySelector('#OperationHintModal'));
                document.querySelector('#OperationHintModal .modal-header>h5').innerText = '@OpText';
                OpModal.toggle();
                </text>
            }


    </script>
    <!-- dateTimePicker初始化、Modal事件 -->
    <script src="~/Assets/js/Shared/dateTimePickerPreDef.js"></script>
    <script>
        //設定選完日期的事件
        let DateModalLauncher = document.querySelector('button[data-bs-target="#DateModal"]');
        let disablePeriodsJSON = @Html.Raw(Model.DisablePeriodsJSON);
        //禁用日期
        datePicker.config.disable = disablePeriodsJSON;

        let StartDateToPost = document.querySelector('#StartDate');
        let ExpirationDateToPost = document.querySelector('#ExpirationDate');
        //入車鈕、結帳鈕
        let actionBtns = document.querySelectorAll('.decision-group .orange');
        actionBtns[0].disabled = true;
        //如果在購物車且有選日期 => 預顯示文字、開放結帳
        if ( @Json.Encode(Model.StartDate!=null ) ) {
            showPeriodText('@(Model.StartDate)', '@Model.ExpirationDate');
        } else {
            actionBtns[1].disabled = true;
        }
        actionBtns[1].addEventListener('click', function () {
            //改變表單位址
            //document.querySelector('form').setAttribute('action','') ;//<form action="/Product/ProductDetail" method="post">
            document.querySelector('input[name="isCheckout"]').value = 'true';

        });

    </script>
    <!-- dateTimePicker設定完成引發事件 -->
    <script src="~/Assets/js/Shared/dateTimePickerSettedEvent.js"></script>

    <script>
        completeBtn.addEventListener('click', function () {
            //開放購物動作
            actionBtns.forEach(x => {
                if (x.disabled) x.disabled = false
            });
        });
    </script>
}


@section topCSS{
    <!-- leaf css -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin="" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css" />
    <!-- dateTimePicker 套件-->
    <link rel="stylesheet" href="~/Assets/css/Shared/flatpickr_orange.css" />
    <!-- dateTimePicker 自訂-->
    <link rel="stylesheet" href="~/Assets/css/Shared/dateTimePicker.css" />

    <link rel="stylesheet" href="~/Assets/css/ProductDetail/ProductCarousel.css" />
    <link rel="stylesheet" href="~/Assets/css/ProductDetail/leafMap.css" />
    <link rel="stylesheet" href="~/Assets/css/ProductDetail/Product_Detail.css" />
}


@section topJS{
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>

}
@if (User.Identity.IsAuthenticated)
{
    var result = Helper.ConvertMemberIdToMemberProfile(Int32.Parse(User.Identity.Name));
    TempData["img"] = result.ProfilePhotoUrl;
    TempData["name"] = result.Fullname;
}
