@model Backstage.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DailyRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DailyRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LaunchDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LaunchDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WithdrawalDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WithdrawalDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Discontinuation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Discontinuation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProductId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
