<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Assets/css/Layout_rent/reset.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="~/Scripts/fontawesome.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Noto+Sans+TC:wght@300&family=Permanent+Marker&family=Ubuntu:ital,wght@0,300;1,500&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@('@')fancyapps/ui/dist/fancybox.css" />
    <script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>
    <script src="~/Assets/js/MemberCenter/Fb/Fb_Init.js"></script>
    <script src="~/Assets/js/MemberCenter/Fb/Fb_Login.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    <title>知租網</title>

    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("topCSS", required: false)
    @RenderSection("topJS", required: false)

    <link href="~/Assets/css/Layout_rent/header.css" rel="stylesheet" />
    <link href="~/Assets/css/Layout_rent/sidebar.css" rel="stylesheet" />
    <link href="~/Assets/css/Layout_rent/footer.css" rel="stylesheet" />

</head>

@{
    var cartCount = Helper.GetCartCount();
}

<body>
    <!-- overlayMobile為了讓側邊導覽出來時畫面變暗 -->
    <div class="overlayMobile"></div>

    <header-top>

        <div class="headerContainerFullWidth">
            <div class="container-xl">
                <input type="checkbox" id="menu-control">

                <div class="header-nav">

                    <div class="logo d-grid">
                        <a class="m-auto" href='@Url.Action("Index", "Home")'>
                            <img src="~/Assets/images/Layout_Rent/logo.png" />
                        </a>
                    </div>

                    <div class="header-function-box">

                        <div class="header-search-box d-grid">
                            @using (Html.BeginForm("SearchProductCards", "Product", FormMethod.Get, new { @class = "m-auto" }))
                            {
                                <label class="header-search d-grid" for="header-search-input">
                                    <input id="header-search-input" class="m-auto" type="text" name="keyword" placeholder=" 想租什麼呢?" />
                                </label>
                                <button type="submit"></button>

                            }
                        </div>

                        <div class="header-member-box">
                            <div class="member-cart">
                                <a class="position-relative" href="@Url.Action("Index", "Carts")">
                                    <i class="fas fa-shopping-cart fa-3x" title="購物車"></i>
                                    <span class="cartQuantity text-white">@cartCount</span>
                                </a>
                            </div>

                            <div class="member-dropdown">
                                <i class="fas fa-user-cog" id="member-icon" title="會員中心"></i>
                             
                                <ul class="member-subMenu">
                                    <div class="profileBox">
                                        <div class="profileImg d-grid"><img class="m-auto Profile" src=@TempData["img"] ></div>
                                        <div class="profileWelcome"><span>Hello</span><p class="profile-name">@TempData["name"]</p></div>
                                    </div>


                                    <a href="@Url.Action("MemberCenter", "Member",new { Index="od"})">
                                    <li>我的訂單</li>
                                    </a>
                                    <a href="@Url.Action("MemberCenter", "Member",new { Index="pr"})">
                                    <li>修改個人資料</li>
                                    </a>
                                    <a href="@Url.Action("SignOut", "Member")" class="signOutBtn" onclick="Del_FB_App()">
                                    <li>登出</li>
                                    </a>
                                </ul>
                            </div>

                        </div>

                        <!-- 註冊登入鈕 -->
                        <nav class="nav-btn">
                            <a href="@Url.Action("Login", "Member")" class="loginBtn">登入</a>
                            <a href="@Url.Action("Register", "Member")" class="signUpBtn">註冊</a>
                        </nav>
                    </div>

                    <label for="menu-control" class="hb my-auto">
                        <span></span>
                        <span></span>
                        <span></span>
                    </label>
                </div>

                <nav class="dropdown-nav">
                    <div class="navbar">

                        <ul class="links">

                            <li>
                                <a href="#">商品總覽<i class="fas fa-chevron-down arrow"></i></a>

                                <ul class="sub-menu">
                                    <a href="@Url.Action("GeneralCategories", "Product")">
                                    <li>種類列表</li>
                                    </a>
                                    <a href="@Url.Action("ProductList", "Product",new { categoryID = "All" })">
                                    <li>所有商品</li>
                                    </a>
                                    <a href="@Url.Action("ProductList", "Product",new { categoryID = "Car" })">
                                    <li>想租車車</li>
                                    </a>
                                    <a href="@Url.Action("ProductList", "Product",new { categoryID = "Acc" })">
                                    <li>想租配件</li>
                                    </a>
                                    <a href="@Url.Action("ProductList", "Product",new { categoryID = "Ppl" })">
                                    <li>想租人類</li>
                                    </a>
                                    <a href="@Url.Action("ProductList", "Product",new { categoryID = "Gam" })">
                                    <li>想租遊戲</li>
                                    </a>
                                    <a href="@Url.Action("ProductList", "Product",new { categoryID = "Pet" })">
                                    <li>想租寵物</li>
                                    </a>


                                </ul>
                            </li>
                            <li>
                                <a href="#">想租看這<i class="fas fa-chevron-down arrow"></i></a>
                                <ul class="sub-menu">
                                    <a href="@Url.Action("HowToRent", "Home")">
                                    <li>如何租借</li>
                                    </a>
                                </ul>
                            </li>
                            <li>
                                <a href="#">關於我們<i class="fas fa-chevron-down arrow"></i></a>
                                <ul class="sub-menu">
                                    <a href="@Url.Action("About", "Home")">
                                    <li>我們的故事</li>
                                    </a>
                                    <a href="@Url.Action("ContributionProgram", "Home")">
                                    <li>回饋計畫</li>
                                    </a>
                                    <a href="@Url.Action("ContactUs", "Home")">
                                    <li>評分與評論</li>
                                    </a>
                                </ul>
                            </li>
                            <li>
                                <a href="#">業配一下<i class="fas fa-chevron-down arrow"></i></a>
                                <ul class="sub-menu">
                                    <a href="@Url.Action("SharingEconomy", "SocialMedia")">
                                    <li>共享經濟</li>
                                    </a>
                                    <a href="@Url.Action("BlogList", "SocialMedia")">
                                    <li>網紅推推</li>
                                    </a>

                                </ul>
                            </li>

                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header-top>

    <div id="sidebarContent">
        <div class="sidenav">

            <div class="logoBox">
                <a href='@Url.Action("Index", "Home")'>
                    <img class="lazyload" data-src="~/Assets/images/Layout_Rent/logo.png" />
                </a>
                <div class="sidebar-btn">
                    <a href="@Url.Action("Login", "Member")" class="loginBtn d-grid"><span class="m-auto">登入</span> </a>
                    <a href="@Url.Action("Register", "Member")" class="signUpBtn d-grid"><span class="m-auto">註冊</span></a>
                </div>
            </div>

            <!-- 登入後秀出名字 -->
            <div class="profileBox">
                <div class="profileImg d-grid">
                    <img class="lazyload m-auto" data-src=@TempData["img"] alt="">
                </div>
                <div class="profileWelcome">
                    <span>Hello</span><p class="profile-name">@TempData["name"]</p>
                </div>
            </div>

            <div class="linkBox">
                <div class="sidebar-member-link">
                    <a href="#" class="dropdown-btn"> 會員中心 <i class="fas fa-caret-down"></i></a>
                    <div class="dropdown-container">
                        <a href="#">通知</a>
                        @Html.ActionLink("我的訂單", "MemberCenter", "Member", new { Index = "od" })
                        @Html.ActionLink("修改個人資料", "MemberCenter", "Member", new { Index = "pr" })
                        <a href="@Url.Action("SignOut", "Member")" class="signOutBtn" onclick="Del_FB_App()">登出</a>
                    </div>
                </div>
                <a href="#" class="dropdown-btn"> 商品總覽 <i class="fas fa-caret-down"></i></a>
                <div class="dropdown-container">
                    @Html.ActionLink("種類列表", "GeneralCategories", "Product")

                    <a href="@Url.Action("ProductList", "Product",new { categoryID = "Car" })">
                        想租車車
                    </a>
                    <a href="@Url.Action("ProductList", "Product",new { categoryID = "Acc" })">
                        想租配件
                    </a>
                    <a href="@Url.Action("ProductList", "Product",new { categoryID = "Ppl" })">
                        想租人類
                    </a>
                    <a href="@Url.Action("ProductList", "Product",new { categoryID = "Gam" })">
                        想租遊戲
                    </a>
                    <a href="@Url.Action("ProductList", "Product",new { categoryID = "Pet" })">
                        想租寵物
                    </a>
                    <a href="@Url.Action("ProductList", "Product",new { categoryID = "All" })">
                        所有商品
                    </a>
                </div>
                <a href="#" class="dropdown-btn"> 想租看這 <i class="fas fa-caret-down"></i></a>
                <div class="dropdown-container">
                    @Html.ActionLink("如何租借", "HowToRent", "Home")
                </div>
                <a href="#" class="dropdown-btn"> 關於我們 <i class="fas fa-caret-down"></i></a>
                <div class="dropdown-container">
                    <a href="#">我們的故事</a>
                    @Html.ActionLink("回饋計畫", "ContributionProgram", "Home")
                    <a href="#">聯繫我們</a>
                </div>
                <a href="#" class="dropdown-btn"> 共享好文 <i class="fas fa-caret-down"></i></a>
                <div class="dropdown-container">
                    @Html.ActionLink("共享經濟", "SharingEconomy", "SocialMedia")
                    @Html.ActionLink("網紅推推", "BlogList", "SocialMedia")
                </div>
            </div>
            <hr>

            <p class="text-center mt-3">download the free<br>mobile app</p>
            <div class="appDownload d-flex justify-content-center">
                <img data-src="~/Assets/images/Layout_Rent/googlePlay_white.jpg" style="height: 30px;" class="lazyload mx-1" alt="">
                <img data-src="~/Assets/images/Layout_Rent/appleStore_white.jpg" style="height: 30px;" class="lazyload mx-1" alt="">
            </div>

            <div class="social-media d-flex mt-4 justify-content-center">
                <a href="#" class="my-auto mx-2"><i class="fa fa-facebook"></i></a>
                <a href="#" class="my-auto mx-2"><i class="fab fa-instagram"></i></a>
                <a href="#" class="my-auto mx-2"><i class="fa fa-envelope"></i></a>

            </div>
        </div>
    </div>

    @RenderBody()

    <footer class="site-footer">
        <div class="container-xl">
            <div class="row">

                <div class="col-12 col-md-4">
                    <div class="footer-info">
                        <a class="m-auto" href='@Url.Action("Index", "Home")'>
                            <li>知租網</li>
                        </a>
                        <a href="tel:+886-0800-001001"><li>0800-001-001</li></a>
                        <a href="mailto:codestone@gmail.com"><li>codestone@gmail.com</li></a>
                    </div>
                    <div class="social-icon d-flex mt-2">
                        <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                        <a class="instagram" href="#"><i class="fab fa-instagram"></i></a>
                        <a class="mail" href="#"><i class="fa fa-envelope"></i></a>

                    </div>
                    <p class="footer-copyright">© 2021 All Rights Reserved.</p>

                </div>

                <div class="col-12 col-md-8  footer-links">

                    <div class="">
                        <a href="@Url.Action("GeneralCategories", "Product")">
                            <li>種類列表</li>
                        </a>
                        <a href="@Url.Action("ProductList", "Product",new { categoryID = "Car" })">
                            <li>想租車車</li>
                        </a>
                        <a href="@Url.Action("ProductList", "Product",new { categoryID = "Acc" })">
                            <li>想租配件</li>
                        </a>
                        <a href="@Url.Action("ProductList", "Product",new { categoryID = "Ppl" })">
                            <li>想租人類</li>
                        </a>
                        <a href="@Url.Action("ProductList", "Product",new { categoryID = "Gam" })">
                            <li>想租遊戲</li>
                        </a>
                        <a href="@Url.Action("ProductList", "Product",new { categoryID = "Pet" })">
                            <li>想租寵物</li>
                        </a>
                        <a href="@Url.Action("ProductList", "Product",new { categoryID = "All" })">
                            <li>所有商品</li>
                        </a>
                    </div>

                    <div class="">

                        <a href="@Url.Action("HowToRent", "Home")">
                            <li>如何租借</li>
                        </a>
                        <a href="@Url.Action("About", "Home")">
                            <li>我們的故事</li>
                        </a>
                        <a href="@Url.Action("ContributionProgram", "Home")">
                            <li>回饋計畫</li>
                        </a>
                        <a href="@Url.Action("ContactUs", "Home")">
                            <li>聯繫我們</li>
                        </a>

                    </div>

                    <div class="">
                        <a href="@Url.Action("SharingEconomy", "SocialMedia")">
                            <li>共享經濟</li>
                        </a>
                        <a href="@Url.Action("BlogList", "SocialMedia")">
                            <li>網紅推推</li>
                        </a>

                    </div>

                </div>
            </div>
        </div>

    </footer>

    <script src="~/Assets/js/Layout_Rent/header.js"></script>
    <script src="~/Assets/js/Layout_Rent/sidebar.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/@('@')fancyapps/ui/dist/fancybox.umd.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    @RenderSection("endCSS", required: false)
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    @RenderSection("endJS", required: false)

</body>
</html>
<script src="../Scripts/jquery-3.4.1.min.js"></script>
<script src="../Scripts/jquery.signalR-2.2.2.min.js"></script>
<script src="../signalr/hubs"></script>
<style>
    .lazyload {
        display: block;
        background-image: url('../../Assets/images/loadingdog.gif');
        background-size: cover;
    }

</style>
<script>
    window.onload = function () {
        let images = document.querySelectorAll(".lazyload");
        lazyload(images);
    }
  
    $(function () {
        // Declare a proxy to reference the hub.
        var chat = $.connection.myHub;
        // Create a function that the hub can call to broadcast messages.
        chat.client.broadcastMessage = function (name, message) {
            // Html encode display name and message.
            console.log(name, message);
            $('.notify').hide();
            var encodedName = $('<div />').text(name).html();
            var encodedMsg = $('<div />').text(message).html();

            $('#dropdown-menutest').append('<li class="m-2"><a href="@Url.Action("MemberCenter", "Member", new { Index = "od" })">'+'您好,目前'+
                encodedName + '</a>' + '<a href="#">' + '狀態為' + '<strong class="text-danger">' + encodedMsg+'</strong>'+'</a>' + '</li>');


        };

        // Start the connection.
        $.connection.hub.start()
    });
</script>
@if (User.Identity.IsAuthenticated)
{
    <script src="~/Assets/js/MemberCenter/LoginAndOut/Login.js"></script>
    var result = Helper.ConvertMemberIdToMemberProfile(Int32.Parse(User.Identity.Name));
    TempData["img"] = result.ProfilePhotoUrl;
    TempData["name"] = result.Fullname;

}
else
{
    <script src="~/Assets/js/MemberCenter/LoginAndOut/Logout.js"></script>
}
